<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666686442619-e19gb0s3v6112f569itkg5h6g7ahf6fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666686442619-e19gb0s3v6112f569itkg5h6g7ahf6fs</string>
	<key>API_KEY</key>
	<string>AIzaSyBTytNpudN5g6LlkUdSiXTbVMa6EtLY3GU</string>
	<key>GCM_SENDER_ID</key>
	<string>666686442619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marymezh.Struyach-Fitness</string>
	<key>PROJECT_ID</key>
	<string>struyach-fitness</string>
	<key>STORAGE_BUCKET</key>
	<string>struyach-fitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666686442619:ios:3385f8b2534ad4772a26de</string>
</dict>
</plist>